<h2>Drag and drop</h2>

<p>Angular has no built in drag and drop for svg elements - instead, we must use mouse down to discover the selection of an element, then move it while the mouse moves and finally stop the drag when the mouse moves up again.
However, we need to make sure that we can also detect a click and a double-click and that these events do neither interfere with each other nor with drag and drop.
Hence, this section is concerned with all types of mouse events.</p>

<h3>Dragging</h3>

<p>There is an explicit draggable svg component, it is supposed to be extended by an own svg component with an own template.
The base component makes sure that drag events are correctly reported to the SVGAccessService.</p>

<demo-highlighted-code [code]="dragDropComponent"></demo-highlighted-code>

<p>As for the our extending component, its template shows a small rectangle that we can drag.</p>
<!-- It will report clicks by a color change. -->

<demo-simple-playground
        [form]=""
        [codeTemplate]=""
>
    <svg:g demo-preview>
        <g draggable>

        </g>
    </svg:g>
</demo-simple-playground>