<h2>Drag and drop</h2>

<p>Angular has no built in drag and drop for svg elements - instead, we must use mouse down to discover the selection of an element, then move it while the mouse moves and finally stop the drag when the mouse moves up again.
However, we need to make sure that we can also detect a click and a double-click and that these events do neither interfere with each other nor with drag and drop.
Hence, this section is concerned with all types of mouse events.</p>

<h3>Dragging</h3>

<p>There is an explicit draggable svg component.
    This base component makes sure that drag events are correctly reported to the SVGAccessService.
    It is supposed to be extended by an own svg component with an own template.
    This own component must provide an element that satisfies the interface `draggable`.</p>
<demo-highlighted-code [code]="draggableInterface"></demo-highlighted-code>

<demo-highlighted-code [code]="dragDropComponent"></demo-highlighted-code>

<p>The base component provides an SVG template with the required mouse-event bindings.
    It has no visual representation of its own; applications extend it with a component containing their own SVG template.
    As for our extending component, its template shows a small rectangle that we can drag. Clicks trigger a color change for the rectangle.</p>
<p>Please note, that Angular creates an own independent entity for each reactive form control, hence changes are not reflected automatically.
    We hence need artificial bindings, that we can avoid in a traditional form bound via ngModel.
</p>
<!-- change that? maybe manual read-back in demo component?-->
<demo-simple-playground
        [form]="formDrag0"
        [codeTemplate]="''"
>
    <svg:g demo-preview>
        <g demo-rect
           [elem]="valueDrag0"
           (chooseElem)="onClickFormDrag0()"
       >
        </g>
    </svg:g>
</demo-simple-playground>