@use 'src/styles.scss' as *;

.playground {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) auto auto;
  gap: 1.5rem;
  align-items: stretch;

  border: 2px solid $color-orange-primary;
  border-radius: 4px;
  padding: 1rem;
}

/* Code snippet */
.playground__code {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
  border: 2px solid $color-orange-light;
  border-radius: 4px;
}

.playground__code_copy {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

  width: 1.75rem;
  height: 1.75rem;

  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  flex: none;

  border: 1px solid $color-orange-dark;
  border-radius: 4px;
  background: white;
  color: $color-orange-dark;

  cursor: pointer;

  &:hover {
    background: antiquewhite;
  }
}

.playground__code pre {
  margin: 0;
  overflow: auto;
  flex: 1;
}

/* Buttons below form */
.playground__actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  button {
    &:hover {
      background: antiquewhite;
    }
    color: $color-orange-dark;
    background: none;
    border: 1px solid $color-orange-dark;
    border-radius: 4px;
  }
}

/* Generated form */
.playground__form form {
  display: grid;
  gap: 0.5rem;
}

.playground__form label {
  color: $color-orange-dark;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.75rem;
  align-items: center;
}

.playground__form input {
  width: 6rem;
}

/* Preview */
.playground__preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $color-orange-light;
  border-radius: 4px;
}