<section class="playground">

    <!-- Code snippet -->
    <div class="playground__code">
        <button
                class="playground__code_copy"
                type="button"
                (click)="copyCode()"
                title="Copy code">
            ⧉
        </button>

        <pre><code [innerHTML]="highlightedCode"></code></pre>
    </div>

    <!-- Form -->
    <div class="playground__form">
        <form [formGroup]="form">
            @for (entry of formControls; track entry[0]) {

                <label [for]="idPrefix + '-' + entry[0]">
                    {{ entry[0] + ":" }}
                </label>

                @if (inputTypes[entry[0]] === InputType.radio) {
                    <div class="playground__radio-options">
                        @for (option of radioOptions[entry[0]]; track option.value) {
                            <div>
                                <input
                                        [id]="idPrefix + '-' + entry[0] + '-' + option.value"
                                        type="radio"
                                        [value]="option.value"
                                        [formControlName]="entry[0]">

                                <label [for]="idPrefix + '-' + entry[0] + '-' + option.value">
                                    {{ option.label }}
                                </label>
                            </div>
                        }
                    </div>
                } @else {
                    <input
                            [id]="idPrefix + '-' + entry[0]"
                            [type]="InputType[inputTypes[entry[0]]]"
                            [formControlName]="entry[0]">
                }

            }
        </form>
        <div class="playground__actions">
            <button type="button" (click)="reset()">Reset</button>
        </div>
    </div>

    <!-- Preview -->
    <svg-canvas class="playground__preview"
                [viewBox]="'0 0 200 200'"
    >
        <svg:g canvas>
            <ng-content select="[demo-preview]"></ng-content>
        </svg:g>
    </svg-canvas>

</section>

