<h1>Arrows</h1>

<p>We are currently offering only direct arrows between two points, no multilines or curves.
Depending on how you want to specify these points, you can choose between these components:</p>

<h2>Arrows between points</h2>

<p>Explicitly given points are the easiest and cheapest way to define arrows. The arrow adapts as soon as its input point changes. So make sure that this happens, e.g. when moving the object around.</p>

<demo-simple-playground
 [form]="form0"
 [codeTemplate]="'<g arrow-between-points'"
>
    <svg:g demo-preview
       arrow-between-points
       [startX]="form0.value.startX"
       [startY]="form0.value.startY"
       [endX]="form0.value.endX"
       [endY]="form0.value.endY"
       [id]="'abp01'">
    </svg:g>
</demo-simple-playground>
