<header class="header">
    <a class="branding" routerLink="">
        <img src="assets/logo.png" alt="Logo" class="logo" />

        <div class="title-group">
            <h1 class="title">EMFular Diagram</h1>
            <span class="subtitle">Interactive Modeling Demo</span>
        </div>
    </a>

    <nav class="nav">
        <a routerLink="svg-primitives" routerLinkActive="active">
            SVG Primitives
        </a>
        <a routerLink="drag-drop" routerLinkActive="active">
            Mouse Events
        </a>
        <a routerLink="arrows" routerLinkActive="active">
            Arrows
        </a>
    </nav>
</header>
