<h2>Diagram Playground</h2>

<p>
    This interactive playground lets you explore <strong>EMFular-diagram v1.x</strong> concepts, services, and components.

    We currently offer a detailed description of the available <a routerLink="drag-drop" routerLinkActive="active">mouse event handling</a> and <a routerLink="arrows" routerLinkActive="active">arrows</a>
    but plan to extend the playground for the graphical base components and the canvas as well.
</p>

<p>
    For source code, issues, and contributions, visit the
    <a href="https://github.com/softlang/EMFular-diagram" target="_blank" rel="noopener">
        project on GitHub</a>.
</p>
