<div class="playground__form-group" [formGroup]="form">
    @for (entry of formControls; track entry[0]) {

        <label [for]="idPrefix + '-' + entry[0]">
            {{ entry[0] + ":" }}
        </label>

        @switch (inputTypes[entry[0]]) {

            @case (InputType.radio) {
                <div class="playground__radio-options">
                    @for (option of radioOptions[entry[0]]; track option.value) {
                        <div>
                            <input
                                    [id]="idPrefix + '-' + entry[0] + '-' + option.value"
                                    type="radio"
                                    [value]="option.value"
                                    [formControlName]="entry[0]"
                            >
                            <label [for]="idPrefix + '-' + entry[0] + '-' + option.value">
                                {{ option.label }}
                            </label>
                        </div>
                    }
                </div>
            }

            @case (InputType.number) {
                <input
                        [id]="idPrefix + '-' + entry[0]"
                        type="number"
                        [formControlName]="entry[0]"
                >
            }
            @case (InputType.checkbox) {
                <input
                        [id]="idPrefix + '-' + entry[0]"
                        type="checkbox"
                        [formControlName]="entry[0]"
                >
            }

            @default {
                <input
                        [id]="idPrefix + '-' + entry[0]"
                        type="text"
                        [formControlName]="entry[0]"
                >
            }
        }
    }
</div>
