/* You can add global styles to this file, and also import other style files */


// -----------------------------
// Diagram Color Scheme
// -----------------------------
$color-orange-primary: #f57c00;
$color-orange-dark: #e65100;
$color-orange-light: #ffb74d;

$color-gray-dark: #444;
$color-gray-light: #f8f9fa;

$color-accent-blue: #007acc;

